<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mvcDemo.mapper.BanListMapper">

    <insert id="insertBanList" parameterType="mvcDemo.bean.BanList" >
        insert into banlist(teamid,championid,banorder)values(#{teamId},#{championId},#{banOrder})
    </insert>

</mapper>