<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mvcDemo.mapper.TeamMapper">
	<resultMap type="mvcDemo.bean.Team" id="TeamMap">
		<id property="teamId" column="teamid"/>
		<result property="matchId" column="matchid"/>
		<result property="teamColor" column="teamcolor"/>
		<result property="isWinner" column="iswinner"/>
		<result property="hasFirstBlood" column="hasfirstblood"/>
		<result property="hasFirstTower" column="hasfirsttower"/>
		<result property="hasFirstInhibitor" column="hasfirstinhibitor"/>
		<result property="hasFirstBaron" column="hasfirstbaron"/>
		<result property="hasFirstDragon" column="hasfirstdragon"/>
		<result property="towerKills" column="towerkills"/>
		<result property="inhibitorKills" column="inhibitorkills"/>
		<result property="baronKills" column="baronkills"/>
		<result property="dragonKills" column="dragonkills"/>
	</resultMap>


    <insert id="insertTeam" parameterType="mvcDemo.bean.Team" useGeneratedKeys="true" keyProperty="id">
        insert into team
        (matchid,teamcolor,iswinner,hasfirstblood,hasfirsttower,hasfirstinhibitor,hasfirstbaron,hasfirstdragon,towerkills,inhibitorkills,baronkills,dragonkills)
        values
        (#{matchId},#{teamColor},#{isWinner},#{hasFirstBlood},#{hasFirstTower},#{hasFirstInhibitor},#{hasFirstBaron},#{hasFirstDragon},#{towerKills},#{inhibitorKills},#{baronKills},#{dragonKills})
    </insert>
    
    <update id="updateTeam" parameterType="mvcDemo.bean.Team">
    	update team set
    	matchid = #{matchId},
    	teamcolor = #{teamColor},
    	isWinner = #{isWinner},
    	hasfirstblood = #{hasFirstBlood},
    	hasfirsttower = #{hasFirstTower},
    	hasfirstinhibitor = #{hasFirstInhibitor},
    	hasfirstbaron = #{hasFirstBaron},
    	towerkills = #{towerKills},
    	inhibitorkills = #{inhibitorKills},
    	baronkills = #{baronKills},
    	dragonkills = #{dragonKills}
    	where teamid = #{teamId}
    </update>
    
    <delete id="deleteTeam" parameterType="mvcDemo.bean.Team">
    	delete from team where teamid=#{teamId}
    </delete>
    
    <select id="selectTeam" parameterType="mvcDemo.bean.Team" resultMap="TeamMap">
    	select * from team
    	where teamid=#{teamId}
    </select>
    
    <select id="selectTeamIdByMatchesIdAndColor" parameterType="mvcDemo.bean.Team"  resultType="java.lang.Integer">
       select teamid from team
       where matchid=#{matchId} and teamcolor=#{teamColor}
    </select>

</mapper>
